$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$color--BrainFlix-Black: #323232;
$color--BrainFlix-Blue: #0095ff;
$color--primary-Silver: #afafaf;
$color--primary-White: #ffffff;

$color--BrainFlix-DarkBlack: #000000;
$color--BrainFlix-DarkBlue: #0065ad;
$color--secondary-Mercury: #e1e1e1;
$color--secondary-Alabaster: #fafafa;
