.main {
  &-bio {
    &-info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-stats {
        margin-right: 2.4rem;
        &-views,
        &-likes {
          display: flex;
          margin: 0 1.6rem;

          &__icons {
            margin-right: 1.6rem;
          }
        }
      }
    }
  }
}
