@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.next {
  &-videos {
    &-container {
      display: flex;
      height: 8rem;

      margin-bottom: 1.6rem;
    }
    &-descr {
      width: 60%;
      margin-left: 1.6rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      * {
        margin: 0;
      }
    }
  }
  &__video {
    width: 10rem;
    border-radius: 0.4rem;
    background-color: $color--secondary-mercury;
  }
}
