@use "../../../styles/partials/variables.scss" as *;
@use "../../../styles/partials/mixins.scss" as *;
.header {
  &-search {
    display: flex;
    margin: 1.6rem 0;

    &-inputs {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      svg {
        position: absolute;
        padding: 0.4rem;
        margin-left: 0.6rem;
      }
    }
    &__input {
      width: 100%;
      margin-right: 1.6rem;
      padding: 0.9rem;
      padding-left: 3rem;
      border-radius: 1rem;
      border-radius: 0.4rem;
      border: #e1e1e1 solid 0.1rem;
      color: $color--primary-black;
    }
    &__avatar {
      height: 1.6em;
      width: 3.6rem;
      border-radius: 50%;
    }
  }
}
