@use "./styles/partials/fonts.scss" as *;
@use "./styles/partials/variables.scss" as *;
@use "./styles/partials/mixins.scss" as *;
@use "./styles/partials/reset.scss" as *;

body {
  margin: 1.6rem;
}
#root {
  width: 100vh;
}
.App {
  width: $mobile-breakpoint;
  display: flex;
  justify-content: center;
}
